/* Layout for CollectionPage */
.page-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0; /* Remove any outer margin */
}

.collection-list {
    width: 15%;
    background: linear-gradient(180deg, #2738a8 50%, #2738a8 80%); 
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove any margin to connect to the edges */
}
.snippet-list {
    width: 15%;
    background: linear-gradient(180deg, #3e96de 50%, #3e96de 80%);
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove any margin to connect to the edges */
}

.page-layout {
    display: flex;
}

/* Left Section: Collection List */
.collection-list, .snippet-list {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.collections-heading, .snippets-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.create-collection-btn, .create-snippet-btn {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.collection-list ul, .snippet-list ul {
    list-style-type: none; 
    padding-left: 0; 
}

.create-collection-btn:hover{
    background-color: #0056b3;
}

.create-snippet-btn:hover {
    background-color: #0d324f;
}

.collection-item, .snippet-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #d1d1d1;
    transition: background-color 0.3s ease;
}

.collection-item:hover, .snippet-item:hover {
    background-color: #007bff;
    color: white;
}


.snippet-details {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.snippet-details h4 {
    margin-bottom: 15px;
}

.snippet-details p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Optional: Modal styling */
.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}