@using Snipster.Data;
@using Snipster.Services;
@using Snipster.Components
@inject MongoDbService _mongoDbService
@page "/collections"


<div class="page-layout">
    <!-- Left Section: Collection List with Create Button -->
    <div class="collection-list">

        
        <h4 class="collections-heading">Collections</h4>

        <button class="create-collection-btn" @onclick="ShowCreateCollectionModal">+</button>

        <ul>
            @foreach (var collection in collections)
            {
                <li class="collection-item" @onclick="() => LoadSnippets(collection.Id)">
                    @collection.Title
                </li>
            }
        </ul>
    </div>

    <!-- Middle Section: Snippet List -->
    <div class="snippet-list">
        <h4>Snippets</h4>
        <ul>
            @if (snippets != null && snippets.Any())
            {
                @foreach (var snippet in snippets)
                {
                    <li class="snippet-item" @onclick="() => LoadSnippetDetails(snippet.Id)">
                        @snippet.Title
                    </li>
                }
            }
            else
            {
                <li>No snippets available</li>
            }
        </ul>
    </div>

    <!-- Right Section: Snippet Details/Editor -->
    <div class="snippet-details">
        @if (selectedSnippet != null)
        {
            <h4>@selectedSnippet.Title</h4>
            <p>@selectedSnippet.Content</p>
            <!-- Additional details and edit functionality can go here -->
        }
        else
        {
            <p>Select a snippet to view details.</p>
        }
    </div>
</div>


<!-- Modal for creating a new collection -->
<Modal @ref="createCollectionModal" Title="Create New Collection">
    <EditForm Model="newCollection" OnValidSubmit="async () => await HandleCreateCollection()">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Title:</label>
            <InputText @bind-Value="newCollection.Title" />
        </div>
        <div>
            <label>Public:</label>
            <InputCheckbox @bind-Value="newCollection.IsPublic" />
        </div>
        <button type="submit">Create</button>
    </EditForm>
</Modal>

@code {


}

<style>
   


</style>