@using Snipster.Data;
@using Snipster.Services;
@using Snipster.Components
@inject IJSRuntime JSRuntime
@inject MongoDbService _mongoDbService
@inject MongoDbService MongoDbService
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Forms
@using static Snipster.Data.DBContext;
@inject NavigationManager Navigation
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@page "/register"

<h3 class="register-title">Register</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-info">@Message</div>
}

<div class="register-container">
    <EditForm Model="newUser" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="firstName">First Name</label>
            <InputText id="firstName" class="form-control input-short" @bind-Value="newUser.FirstName" />
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <InputText id="lastName" class="form-control input-short" @bind-Value="newUser.LastName" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" class="form-control input-short" @bind-Value="newUser.Email" type="email" />
        </div>

@*         <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" class="form-control input-short" @bind-Value="newUser.UserName" />
        </div>
 *@
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" class="form-control input-short" type="password" @bind-Value="newUser.Password" />
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

        <div class="register-link">
            <span>Already have an account?</span> <a href="/login">Login here</a>
        </div>
    </EditForm>


</div>




@code {


}

<style>
    .register-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .register-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

        .form-group label {
            width: 100%;
            max-width: 300px;
            text-align: left;
            margin-bottom: 5px;
        }

    .input-short {
        width: 100%;
        max-width: 300px;
        text-align: left;
    }

    .btn-primary {
        width: 100%;
        max-width: 200px;
        display: block;
        margin: 20px auto;
    }

    .register-link {
        text-align: center;
        margin-top: 10px;
        font-size: 0.9rem;
    }

        .register-link a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

            .register-link a:hover {
                text-decoration: underline;
            }
</style>