@page "/pw-reset"
@using Snipster.Data;
@using Snipster.Services;
@using Snipster.Components
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Forms
@using static Snipster.Data.DBContext;
@inject MongoDbService _mongoDbService
@inject NavigationManager Navigation


<div class="reset-container">
    <h2 class="login-title">Reset Your Password</h2>

    @if (!isSuccess)
    {
        <div class="login-container">
            <EditForm Model="@loginModel" OnValidSubmit="HandlePasswordReset">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="newPassword">Enter your new password</label>
                    <InputText id="newPassword" type="password" class="form-control input-short" @bind-Value="loginModel.Password" />
                </div>

                <button type="submit" class="btn btn-primary" disabled="@isProcessing">Reset Password</button>

                <div class="back-to-login">
                    <a href="/login">Back to Login</a>
                </div>
            </EditForm>
        </div>
    }

</div>




@code {


}
<style>
    .login-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .form-group label {
        width: 100%;
        max-width: 300px;
        text-align: left;
        margin-bottom: 5px;
    }

    .input-short {
        width: 100%;
        max-width: 300px;
        text-align: left;
    }

    .btn-primary {
        width: 100%;
        max-width: 200px;
        display: block;
        margin: 20px auto;
    }

    .back-to-login {
        text-align: center;
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .back-to-login a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .back-to-login a:hover {
        text-decoration: underline;
    }

    .error {
        color: red;
        text-align: center;
        margin-top: 10px;
    }
</style>
