@inject NavigationManager Navigation

@inherits LayoutComponentBase

<PageTitle>Snipster</PageTitle>

<div class="page">
    @if (!IsAuthPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsAuthPage => Navigation.Uri.Contains("login", StringComparison.OrdinalIgnoreCase)
                         || Navigation.Uri.Contains("register", StringComparison.OrdinalIgnoreCase);

 }